<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <connectionStrings>
  <add name ="abc" connectionString ="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\my program\timothy_test\timothy_test\HelathDiagnostic.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>