<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <configSections>
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
         <section name="timothy_test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      </sectionGroup>
   </configSections>
   <connectionStrings>
     <add name="abc" connectionString="Data Source=|DataDirectory|\HealthDiagnostic.sdf" providerName="System.Data.SqlServerCe.4.0"/>
    <!-- <add name="timothy_test.Properties.Settings.HelathDiagnosticConnectionString"
         connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\HelathDiagnostic.mdf;Integrated Security=True"
         providerName="System.Data.SqlClient" />-->
   </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <timothy_test.Properties.Settings>
            <setting name="AccessToken" serializeAs="String">
                <value />
            </setting>
        </timothy_test.Properties.Settings>
    </userSettings>
</configuration>